* {
  font-family: Helvetica, Arial, sans-serif;
  --primary-color:#026576;
  --secondary-color: #4aafaf;
  --teriary-color: #e1fff7;
  --text-yellow: #faf4b9;
  --text-pale-green: #e1fff7;
  --text-black: black;
}

body {
  background-image: url('../../resources/images/darkgreenbg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  padding: 10px;
  justify-content: flex-end;
  display: inline-flex;
  width: fit-content;
  gap: 10px;
}

.nav-btn {
 --btn: var(--secondary-color);
  --btn-dark: color-mix(in srgb, var(--primary-color) 0%, black);
  --btn-light: color-mix(in srgb, var(--secondary-color) 50%, var(--text-yellow));
  --edge: color-mix(in srgb, var(--primary-color) 80%, black);
  --text: var(--text-yellow);
  
  padding: 10px 20px;
  background: linear-gradient(to bottom, var(--btn-light), var(--btn));
  border: 4px solid var(--edge);
  color: black;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background 0.3s;

  box-shadow:
  0 6px 14px rgba(0,0,0,.28),   /* drop shadow */
  0 2px 0 rgba(255,255,255,.25) inset,  /* top lip highlight */
  0 -2px 0 rgba(0,0,0,.15) inset;       /* bottom inner shade */
}

nav a{
  text-decoration: none;
  color: var(--text-black);
  font-size: 24px;
  justify-content: right;
  padding-right: 10px;
} 

.nav-btn:active {
  transform: translateY(2px);
  box-shadow:
    0 3px 8px rgba(0,0,0,.35),
    0 1px 0 rgba(255,255,255,.18) inset,
    0 -2px 0 rgba(0,0,0,.25) inset;
}

a {
  color: aquamarine;
}

a:hover{
  color: var(--text-yellow);
} 

h1 {
  color: var(--text-yellow);
  font-family: "Lucida Handwriting";
  text-align: center;
  padding-top: 80px;
  font-size: 70px;
}

h2 {
  color: var(--text-yellow);
  font-family: "Cambria";
  text-align: center;
  font-size: 40px;
}

p {
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}

a {
  text-decoration: none;
}

#about {
  color: var(--text-yellow);
}

#bg-bottom, #bg-top {
  background-image: url('../../resources/images/BottomCorner.png');
  position: absolute;
  min-width: 400px;
  min-height: 400px;
  max-width: 1500px;
  max-height: 1500px;
  background-size: cover;
  background-repeat: no-repeat;
}

#bg-bottom{
  bottom: 0;
  right: 0;
}

#bg-top{
  transform: scale(-1, -1);
  top: 0;
  left: 0;
}

#contactme {
  color: bisque;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#contactlist {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#contactlist p {
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
}

#contactlist a {
  font-family: 'Times New Roman', Times, serif;
}
#contacttitle {
  color: #fff;
}

#contacttitle p {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
}

