* {
  font-family: Helvetica, Arial, sans-serif;
  --primary-color:#026576;
  --secondary-color: #4aafaf;
  --teriary-color: #e1fff7;
  --text-yellow: #faf4b9;
  --text-pale-green: #e1fff7;
  --text-black: black;
}

body {
  background-image: url('../../resources/images/darkgreenbg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  background-color: var(--secondary-color);
  padding: 10px;
  justify-content: flex-end;
  display: inline-flex;
  width: fit-content;
  border-radius: 10px;
}

nav a{
  text-decoration: none;
  color: var(--text-black);
  font-size: 24px;
  justify-content: right;
  padding-right: 10px;
} 

a {
  color: aquamarine;
}

a:hover{
  color: white;
} 

h1 {
  color: var(--text-yellow);
  font-family: "Lucida Handwriting";
  text-align: center;
  padding-top: 80px;
  font-size: 70px;
}

h2 {
  color: var(--text-yellow);
  font-family: "Cambria";
  text-align: center;
  font-size: 40px;
}

p {
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}

a {
  text-decoration: none;
}

#about {
  color: var(--text-yellow);
}

#bg-bottom, #bg-top {
  background-image: url('../../resources/images/BottomCorner.png');
  position: absolute;
  min-width: 400px;
  min-height: 400px;
  max-width: 1500px;
  max-height: 1500px;
  background-size: cover;
  background-repeat: no-repeat;
}

#bg-bottom{
  bottom: 0;
  right: 0;
}

#bg-top{
  transform: scale(-1, -1);
  top: 0;
  left: 0;
}

#contactme {
  color: bisque;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#contactlist {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#contactlist p {
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
}

#contactlist a {
  font-family: 'Times New Roman', Times, serif;
}
#contacttitle {
  color: #fff;
}

#contacttitle p {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
}